body {
  background: linear-gradient(135deg, #a8edea, #fed6e3);
}
header {
  display: flex; 
  gap: 20px;
  background-color: #37474f;   /* heading background color black */
  padding: 6px 10px;        /* spacing inside the black box */
  border-radius: 4px;
}

header h1 {
  margin: 0;
  font-size: 1.25rem;
  color: #fff; 
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

header ul {
  list-style: none;
  margin: 0;
  display: flex;               
  gap: 16px;                     
  align-items: center;
}

/* make list items easier to interact with and add hover */
header ul li {
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

header ul li:hover {
  background-color: #009688;
  color: #e0f2f1;
}

.head2{
  margin-left: auto;
}
.logo-heading {
  display: inline-block; /* puts image + heading on same line */
  vertical-align: middle;
}

.logo {
  height: 32px;
  width: auto;
  vertical-align: middle;
  margin-right: 10px;
}

h1 {
  display: inline-block;
  color: #37474f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  vertical-align: middle;
}
